@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Web University</h2>
        <p>
            Web University is a simple application
        </p>
    </div>
    <div class="col-md-4">
        <h2>Built it from scratch</h2>
        <p>You can build the application by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
</div>